---
import Layout from '../layouts/Layout.astro'
import Projects from '../components/projects.astro'
import OpenSouceChart from '../components/open-source.astro'
import Experience from '../components/experience.astro'

import { getCollection } from 'astro:content'

const projects = await getCollection('openSource')
const experiences = await getCollection('experiences')
---

<Layout
  title="Home"
  description="Rafael Caixeta is a frontend developer working with JavaScript and React, passionate about backend development with Go, cloud technologies, and open source contributions."
  image="/og.jpg"
>
  <div class="animation-container">
    <div class="animation-item">
      <h1 class="text-2xl">Frontend Developer & Open Source Enthusiast.</h1>
      <p class="text-muted-foreground">
        I’m Rafael Caixeta. I build frontend interfaces, contribute to open
        source, and spend my free time coding in Go and learning cloud
        infrastructure.
      </p>

      <section class="mt-4 flex flex-wrap gap-4">
        <a
          class="underline underline-offset-1 transition-all"
          href="https://github.com/caixetadev"
          target="_blank"
        >
          Github
        </a>

        <a
          class="underline underline-offset-1 transition-all"
          href="https://www.linkedin.com/in/caixetadev/"
          target="_blank"
        >
          Linkedin
        </a>

        <a
          class="underline underline-offset-1 transition-all"
          href="https://x.com/caixetadev"
          target="_blank"
        >
          Twitter
        </a>
      </section>

      <section class="mt-6">
        <h2 class="pb-4 text-muted-foreground capitalize">Featured Projects</h2>
        <Projects />
      </section>

      <section id="experience" class="mt-6">
        <h2 class="pb-4 text-muted-foreground capitalize">Experience</h2>
        <ul class="divide-y divide-[#2a2a2a]">
          {
            experiences.map((project) => (
              <Experience
                class="py-4 first:pt-0"
                title={project.data.title}
                description={project.data.description}
                location={project.data.location}
                dates={project.data.dates}
              />
            ))
          }
        </ul>
      </section>

      <section class="mt-6">
        <h2 class="mb-4 text-muted-foreground capitalize">Open Source</h2>
        {
          projects.map((project) => (
            <div>
              <div class="mb-5">
                <h3>{project.data.title}</h3>
                <p class="text-muted-foreground">{project.data.description}</p>
              </div>

              <OpenSouceChart data={project.data.data} />
              <div class="flex items-center justify-between text-muted-foreground text-xs mt-2">
                <p>Pull Requests made in the repository</p>
                <span>{project.data.total_count}</span>
              </div>
              <div class="border-[#2a2a2a] border-t my-6" />
            </div>
          ))
        }
      </section>
    </div>
  </div>
</Layout>
