---
import { AnimationContainer } from '../components/animation'
import { SEO } from 'astro-seo'
import '../styles/global.css'

const { title, description, image } = Astro.props

const siteURL = 'https://caixeta.dev'
const fullURL = siteURL + Astro.url.pathname
const siteName = 'Rafael Caixeta'
const twitterHandle = '@caixetadev'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      as="style"
      crossorigin="anonymous"
    />

    <meta name="author" content="Rafael Caixeta" />
    <meta
      name="keywords"
      content="frontend, go developer, next.js, open source, cloud infrastructure"
    />

    <SEO
      title={`${title} | ${siteName}`}
      description={description}
      canonical={fullURL}
      openGraph={{
        basic: {
          title: `${title} | ${siteName}`,
          type: 'website',
          url: fullURL,
          image: siteURL + image,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        title: `${title} | ${siteName}`,
        description,
        image: siteURL + image,
        creator: twitterHandle,
      }}
      extend={{
        link: [
          {
            rel: 'icon',
            type: 'image/png',
            sizes: '32x32',
            href: '/favicon-32x32.png',
          },
          {
            rel: 'icon',
            type: 'image/png',
            sizes: '196x196',
            href: '/android-chrome-196x196.png',
          },
          {
            rel: 'apple-touch-icon',
            sizes: '180x180',
            href: '/apple-touch-icon.png',
          },
          { rel: 'icon', href: '/favicon.svg', type: 'image/svg+xml' },
        ],
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>
  <body
    class="min-h-screen h-full antialiased mx-auto max-w-2xl md:pt-10 p-4 md:p-0"
  >
    <AnimationContainer client:load>
      <div class="flex h-[calc(100vh-40px)] flex-col">
        <slot />

        <footer class="mt-auto pt-10 text-xs text-muted-foreground">
          © {new Date().getFullYear()} Caixeta
        </footer>
      </div>
    </AnimationContainer>
  </body>
</html>
